.container {
    max-width: none !important;
    width: 750px;
}

.jumbotron h1 {
    font-size: 29px;
}

.jumbotron p {
    font-size: 15px;
}

.jumbotron span.qoute {
    font-style: oblique;
}

textarea.codeEditor {
    width: 100%;
    height: 100%;
    min-height: 225px;
    font-family: "Courier New";
    resize: none;
}

textarea.description {
    resize: none;
}

.editorButton {
    width: 95px;
    text-align: center;
    margin-bottom: 5px;
}

.saveButton {
    width: 95px;
    text-align: center;
    margin-top: 45px;
}

#projectName {
    cursor: pointer;
}

textarea.console {
    width: 100%;
    height: 100%;
    min-height: 100px;
    font-family: Helvetica;
    resize: none;
    border: 1px solid #ccc;
}

textarea.successResult {
    border: 1px solid #3c763d;
    color: #3c763d;
}

textarea.failedResult {
    border: 1px solid #a94442;
    color: #a94442;
}

#langSelectContainer {
    padding-top: 20px;
    text-align: right;
}

#fullScreenButton, #themeButton {
    margin-left: 5px;
    cursor: pointer;
    line-height: 20px !important;
}

.editorOptions {
    border: 1px solid #ccc;
    padding: 2px;
    margin-left: 15px;
    width: 595px;
    border-top: 0px;
}

a.lingo, #langSelectContainer > span {
    color: #999;
}

#testCasesTable > tbody > tr > td {
    vertical-align: middle;
}

.removeInput, #addNewInput, .removeTestCase, #addNewTestCase {
    cursor: pointer;
}

#testCasesTable > tbody > tr > td > input {
    margin-bottom: 5px;
}