<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">

<legend th:text="#{header.forgotMyPassword}"></legend>

<div class="row">
    <div class="col-xs-12">

        <p class="info">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span th:text="#{forgotMyPassword.info}"></span>
        </p>

        <div class="forgotMyPasswordResult">
            <p class="forgotMyPasswordResultMessage"></p>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-xs-2 control-label" th:text="#{label.email}"></label>

                <div class="col-xs-5">
                    <input type="text" id="email" name="email" class="form-control"/>
                </div>

                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary sendForgotEmailBtn" th:text="#{button.send}"></button>
                </div>
            </div>
        </form>
    </div>

</div>
<input id="javaScriptModules" type="hidden" value="ForgottenPassword"/>
</body>
</html>