<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head>
    <title th:text="#{header.forgotMyPassword.passwordReset}"></title>
</head>
<body layout:fragment="content" th:remove="tag">

<legend th:text="#{header.forgotMyPassword.passwordReset}"></legend>

<div class="row">
    <div class="col-xs-12">

        <p th:text="#{forgotMyPassword.passwordReset.info}"></p>

        <hr />

        <form autocomplete="off" th:action="@{/forgotMyPassword/reset}" th:object="${passwordResetModel}" method="POST" class="form-horizontal">

            <div th:class="'form-group' + (${#fields.hasErrors('passwordModel.password')} ? ' has-error' : '')">
                <label for="password" class="col-xs-3 control-label" th:text="#{label.password}"></label>

                <div class="col-xs-5">
                    <input type="password" id="password" name="passwordModel.password" class="form-control" th:field="*{passwordModel.password}"/>
                </div>
                <span class="help-block" th:if="${#fields.hasErrors('passwordModel.password')}" th:errors="*{passwordModel.password}"></span>
            </div>

            <div th:class="'form-group' + (${#fields.hasErrors('passwordModel.passwordRetype')} ? ' has-error' : '')">
                <label for="passwordRetype" class="col-xs-3 control-label" th:text="#{label.passwordRetype}"></label>

                <div class="col-xs-5">
                    <input type="password" id="passwordRetype" name="passwordModel.passwordRetype" class="form-control" th:field="*{passwordModel.passwordRetype}"/>
                </div>
                <span class="help-block" th:if="${#fields.hasErrors('passwordModel.passwordRetype')}" th:text="${#fields.errors('passwordModel.passwordRetype')[0]}"></span>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <button type="submit" class="btn btn-primary resetBtn pull-right" th:text="#{button.save}"></button>
                </div>
            </div>

            <input type="hidden" name="token" th:value="*{token}"/>
        </form>
    </div>

</div>
<input id="javaScriptModules" type="hidden" value="ForgottenPassword"/>
</body>
</html>