<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout">
<head>
    <title th:text="${user.fullName}"></title>
</head>
<body layout:fragment="content" th:remove="tag">
    <legend th:text="${user.fullName}"></legend>

    <div class="row" th:with="isCurrentUser = ${currentUser != null and currentUser.equals(user)}">
        <div class="col-xs-4">
            <div class="userPicture">
                <div class="avatarSelectionContainer" th:if="${isCurrentUser}">
                    <div>
                        <a id="selectAvatar" data-toggle="collapse" href="#avatarsCollapse" aria-expanded="false" aria-controls="avatarsCollapse" th:text="#{user.profile.selectAvatar}"></a>
                    </div>
                    <div class="collapse" id="avatarsCollapse">
                        <a href="#"><span class="img-circle avatar medium animal-avatar-1" data-avatar-type="animal-avatar-1"></span></a>
                        <a href="#"><span class="img-circle avatar medium animal-avatar-2" data-avatar-type="animal-avatar-2"></span></a>
                        <a href="#"><span class="img-circle avatar medium animal-avatar-3" data-avatar-type="animal-avatar-3"></span></a>
                        <a href="#"><span class="img-circle avatar medium animal-avatar-4" data-avatar-type="animal-avatar-4"></span></a>
                        <a href="#"><span class="img-circle avatar medium animal-avatar-5" data-avatar-type="animal-avatar-5"></span></a>
                        <a href="#"><span class="img-circle avatar medium animal-avatar-6" data-avatar-type="animal-avatar-6"></span></a>
                        <a href="#"><span class="img-circle avatar medium animal-avatar-7" data-avatar-type="animal-avatar-7"></span></a>
                        <a href="#"><span class="img-circle avatar medium animal-avatar-8" data-avatar-type="animal-avatar-8"></span></a>
                    </div>
                </div>

                <div>
                    <span th:if="${user.hasAvatar()}" th:class="${'img-circle avatar large ' + user.avatar}"></span>
                    <span th:unless="${user.hasAvatar()}" class="glyphicon glyphicon-user"></span>
                </div>
            </div>
            <ul class="list-group userProgress">
                <!--/* TODO ufuk: fix, show current level in different way */-->
                <li th:if="${currentLevelModel != null}" class="list-group-item level" th:with="currentLevelExists=${currentLevelModel.currentLevel != null}, nextLevelExists=${currentLevelModel.nextLevel != null}">
                    <span class="remainingChallengesToNextLevel" th:if="${nextLevelExists}" th:text="${#messages.msg('user.profile.remainingChallengesToNextLevel', currentLevelModel.getNextLevel().getNameFor(#locale), currentLevelModel.challengeCountToNextLevel)}"></span>
                    <span class="remainingChallengesToNextLevel" th:if="${not nextLevelExists and currentLevelExists}" th:text="${currentLevelModel.getCurrentLevel().getNameFor(#locale)}"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                             th:with="progress=${currentLevelModel.calculateProgressForCurrentLevel()}" th:attr="aria-valuenow=${progress}" th:style="'width: ' + ${progress} + '%'">
                        </div>
                    </div>
                </li>
                <li class="list-group-item experiencePoint">
                    <div>
                        <span th:text="#{user.profile.experiencePoint}"></span>
                    </div>
                    <span class="label label-primary" th:text="${experiencePoint}"></span>
                </li>
            </ul>
        </div>

        <div class="col-xs-8">
            <div class="row userInfos profileContainer">
                <div class="col-xs-12">
                    <legend class="subHeader" th:text="#{user.profile.personal}"></legend>

                    <div class="row">
                        <label class="col-xs-5" th:text="#{label.firstName}"></label>
                        <div class="col-xs-7">
                            <span th:text="${user.firstName}"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-xs-5" th:text="#{label.lastName}"></label>
                        <div class="col-xs-7">
                            <span th:text="${user.lastName}"></span>
                        </div>
                    </div>

                    <div class="row" th:if="${isCurrentUser}">
                        <label class="col-xs-5" th:text="#{label.email}"></label>
                        <div class="col-xs-7">
                            <a th:href="${'mailto:' + user.email}" th:text="${user.email}" target="_blank"></a>
                        </div>
                    </div>

                    <div class="row" th:unless="${user.programmingLanguage == null}">
                        <label class="col-xs-5" th:text="#{label.favoriteProgrammingLanguage}"></label>
                        <div class="col-xs-7">
                            <span th:text="${user.programmingLanguage}"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-xs-5" th:text="#{label.lingo}"></label>
                        <div class="col-xs-7">
                            <span th:text="${#messages.msg(user.lingo.name())}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row profileContainer">
                <div class="col-xs-12">
                    <legend class="subHeader" th:text="#{user.profile.solutions}"></legend>

                    <ul class="list-group" th:unless="${#lists.isEmpty(solvedChallenges)}">
                        <li class="list-group-item" th:each="solvedChallenge : ${solvedChallenges}">
                            <a th:href="@{'/challenges/' + ${solvedChallenge.id}}" th:text="${solvedChallenge.getTitleFor(#locale)}"></a>
                        </li>
                    </ul>

                    <p th:if="${#lists.isEmpty(solvedChallenges)}" th:text="#{label.nope}"></p>
                </div>
            </div>

        </div>
    </div>

    <input id="javaScriptModules" type="hidden" value="Profile"/>
</body>
</html>