<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout">
<head>
    <title th:text="#{levelManagement.header}"></title>
</head>
<body layout:fragment="content" th:remove="tag">

<div class="row">
    <div class="col-xs-12">
        <legend th:text="#{levelManagement.header}"></legend>

        <form id="saveLevelForm" class="form-horizontal" th:action="@{/manage/levels}" method="POST"
              th:object="${level}">
            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                <strong>Ups!</strong>
                <ul>
                    <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
                </ul>
            </div>

            <div th:class="'form-group' + (${#fields.hasErrors('englishName')} ? ' has-error' : '')">
                <label for="englishName" class="col-xs-4 control-label" th:text="#{English}"></label>

                <div class="col-xs-8 col-md-4">
                    <input type="text" class="form-control" th:field="*{englishName}" id="englishName"
                           name="englishName"/>
                </div>
            </div>

            <div th:class="'form-group' + (${#fields.hasErrors('turkishName')} ? ' has-error' : '')">
                <label for="turkishName" class="col-xs-4 control-label" th:text="#{Turkish}"></label>

                <div class="col-xs-8 col-md-4">
                    <input type="text" class="form-control" th:field="*{turkishName}" id="turkishName"
                           name="turkishName"/>
                </div>
            </div>

            <div th:class="'form-group' + (${#fields.hasErrors('portugueseName')} ? ' has-error' : '')">
                <label for="portugueseName" class="col-xs-4 control-label" th:text="#{Portuguese}"></label>

                <div class="col-xs-8 col-md-4">
                    <input type="text" class="form-control" th:field="*{portugueseName}" id="portugueseName"
                           name="portugueseName"/>
                </div>
            </div>

            <div th:class="'form-group' + (${#fields.hasErrors('priority')} ? ' has-error' : '')">
                <label for="priority" class="col-xs-4 control-label"
                       th:text="#{levelManagement.priority.placeholder}"></label>

                <div class="col-xs-8 col-md-4">
                    <input type="number" class="form-control" th:field="*{priority}" id="priority" name="priority"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-8">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                        <span th:text="#{button.save}"></span>
                    </button>

                    <button id="resetButton" type="button" class="btn btn-default">
                        <i class="fa fa-eraser"></i>
                        <span th:text="#{button.reset}"></span>
                    </button>
                </div>
            </div>

            <input type="hidden" th:field="*{levelId}"/>
        </form>

        <hr/>

        <div class="table-responsive">
            <table id="levelsTable" class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{label.priority}"></th>
                    <th th:text="#{English}"></th>
                    <th th:text="#{Turkish}"></th>
                    <th th:text="#{Portuguese}"></th>
                    <th colspan="2"></th>
                </tr>
                </thead>
                <tbody id="levelsTableBody">
                <tr th:each="level : ${levels}" th:id="${'level_' + level.id}">
                    <td th:text="${level.priority}"></td>
                    <td th:text="${level.englishName}"></td>
                    <td th:text="${level.turkishName}"></td>
                    <td th:text="${level.portugueseName}"></td>
                    <td class="text-right">
                        <a href="#saveLevelForm" class="updateButton btn btn-primary btn-sm"
                           th:attr="data-level-id=${level.id}">
                            <i class="fa fa-edit"></i>
                            <span th:text="#{button.edit}"></span>
                        </a>
                        <a href="#" class="btn btn-danger btn-sm" th:href="@{/manage/levels/delete/__${level.id}__}">
                            <i class="fa fa-trash"></i>
                            <span th:text="#{button.delete}"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<input id="javaScriptModules" type="hidden" value="LevelManagement"/>
</body>
</html>