<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout">
<head>
    <title th:text="#{tag.listing.header}"></title>
</head>
<body layout:fragment="content" th:remove="tag">
    <legend th:text="#{tag.listing.header}"></legend>

    <div class="row" th:if="${#lists.isEmpty(tagList)}">
        <div class="col-xs-12">
            <p th:text="#{label.nope}"></p>
        </div>
    </div>

    <div class="row tagList" th:unless="${#lists.isEmpty(tagList)}">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <a th:class="${'tagLink x' + tag.rank}" th:href="@{${'/challenges/tags/' + tag.name}}" th:each="tag : ${tagList}"
               th:text="${'#' + tag.name}">
            </a>
        </div>
    </div>

    <input id="newMember" type="hidden" th:value="${param.newMember != null}"/>
    <input id="javaScriptModules" type="hidden" value="TagListing"/>
</body>
</html>