.tagList {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;

  a.tagLink {
    margin-right: 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 36px;

    &.x2 {
      font-size: 18px;
    }

    &.x3 {
      font-size: 24px;
    }

    &.x4 {
      font-size: 30px;
    }
  }

}