<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">
    <legend th:text="#{levelManagement.header}"></legend>

    <form id="saveLevelForm" class="form-inline" action="#" method="POST" th:object="${level}"
          myth:event="submit" myth:process="saveLevelForm" myth:update="saveLevelForm levelsTable" myth:url="@{/manage/levels/save}">
        <div class="form-group">
            <input type="text" class="form-control" name="turkishName" th:placeholder="#{Turkish}"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="englishName" th:placeholder="#{English}"/>
        </div>

        <div class="form-group">
            <input type="number" class="form-control" name="priority" th:placeholder="#{label.priority}"/>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{button.create}"></button>
    </form>

    <hr/>

    <table id="levelsTable" class="table table-striped">
        <thead>
            <tr>
                <th th:text="#{label.priority}"></th>
                <th th:text="#{Turkish}"></th>
                <th th:text="#{English}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="level : ${levels}">
                <td th:text="${level.priority}"></td>
                <td th:text="${level.turkishName}"></td>
                <td th:text="${level.englishName}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>