<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">
    <legend th:text="#{levelManagement.header}"></legend>

    <form id="saveLevelForm" class="form-inline" action="#" method="POST" th:object="${level}"
          myth:event="submit" myth:process="saveLevelForm" myth:update="saveLevelForm levelsTable" myth:url="@{/manage/levels/save}">

        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
            <strong>Ups!</strong>
            <ul>
                <li th:each="error : ${#fields.allErrors()}" th:text="${error}"></li>
            </ul>
        </div>

        <div th:class="'form-group' + (${#fields.hasErrors('turkishName')} ? ' has-error' : '')">
            <input type="text" class="form-control" th:field="*{turkishName}" name="turkishName" th:placeholder="#{Turkish}"/>
        </div>

        <div th:class="'form-group' + (${#fields.hasErrors('englishName')} ? ' has-error' : '')">
            <input type="text" class="form-control" th:field="*{englishName}" name="englishName" th:placeholder="#{English}"/>
        </div>

        <div th:class="'form-group' + (${#fields.hasErrors('priority')} ? ' has-error' : '')">
            <input type="number" class="form-control" th:field="*{priority}" name="priority" th:placeholder="#{levelManagement.priority.placeholder}"/>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{button.create}"></button>
    </form>

    <hr/>

    <table id="levelsTable" class="table table-striped">
        <thead>
            <tr>
                <th th:text="#{label.priority}"></th>
                <th th:text="#{Turkish}"></th>
                <th th:text="#{English}"></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="levelsTableBody">
            <tr th:each="level : ${levels}" th:id="${'level_' + level.id}">
                <td th:text="${level.priority}"></td>
                <td th:text="${level.turkishName}"></td>
                <td th:text="${level.englishName}"></td>
                <td>
                    <a href="#" th:text="#{button.delete}"
                       myth:update="[[levelsTableBody>>${'level_' + level.id}]]"
                       myth:url="@{/manage/levels/delete/__${level.id}__}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>