<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{'/generatedResources/js/messages_' + __${#locale}__ + '-' + ${buildId} + '.js'}" defer="defer"></script>

    <!--/* If only environment is 'development' */-->
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/lib/less.min.js}"></script>

    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/lib/jquery.min.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/lib/jquery-ui.min.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/lib/jquery.cookie.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/lib/jquery.fullscreen.min.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/lib/jquery.hotkeys.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/lib/hopscotch.min.js}"></script>

    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/bootstrap/bootbox.min.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/bootstrap/bootstrap-virtual-assistant.js}"></script>

    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codemirror/codemirror.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codemirror/vim.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codemirror/mode/javascript.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codemirror/mode/python.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codemirror/mode/clike.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codemirror/show-hint.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codemirror/javascript-hint.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codemirror/anyword-hint.js}"></script>

    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/expercise.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/utils.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/header.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/profile.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/challenge.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/themeListing.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/locale.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/codeEditor.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/challengeManagement.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/levelManagement.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/forgottenPassword.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/home.js}"></script>
    <script th:if="${developmentEnvironment}" type="text/javascript" th:src="@{/js/bootstrapper.js}"></script>

    <!--/* If only environment is not 'development' */-->
    <script th:unless="${developmentEnvironment}" type="text/javascript" th:src="@{'/js/compressed-' + __${buildId}__ + '.js'}" defer="defer"></script>
</html>