.saveButton {
  width: 95px;
  text-align: center;
  margin-top: 84px;
}

#testCasesTable > tbody > tr > td {
  vertical-align: middle;
}

.removeInput, #addNewInput, .removeTestCase, #addNewTestCase {
  cursor: pointer;
}

#testCasesTable > tbody > tr > td > input {
  margin-bottom: 5px;
}

#testCasesTable > tbody > tr > td > a.btn {
  margin-bottom: 5px;
}