.container {
  max-width: none !important;
  width: 750px;
}

h2#projectName {
  a, small {
    color: #999;
  }

  a:hover {
    text-decoration: none;
  }
}

.hide {
  display: none !important;
}

#validationMessages {
  padding-top: 5px;
}

#validationMessages > div > .alert {
  margin-bottom: 0px;
}

.nav-pills > li {
  padding-left: 12px;
}

.btn-lg {
  min-height: 45px !important;
}

.pageTitleWithLink .left {
  padding-right: 0;
}

.pageTitleWithLink .right {
  padding-left: 0;
  text-align: right;
}

.pageTitleWithLink .linkContainer {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 10px;
}

.pageTitleWithLink .linkContainer > a:first-child:hover {
  text-decoration: none;
}

legend.subHeader {
  font-size: 19px;
}

table .indexColumn {
  width: 20px;
  text-align: right;
}

a.btn {
  background-position: 0 !important;
}