@font-face {
  font-family: BlackRose;
  src: url(../fonts/black-rose.ttf);
}

.container {
  max-width: none !important;
  width: 790px;
}

body {
  background: #6AA4B8 url(../img/programming-illustration.jpg) no-repeat fixed bottom right;
}

.subContainer {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.hide {
  display: none !important;
}

#validationMessages {
  padding-top: 5px;
}

#validationMessages > div > .alert {
  margin-bottom: 0px;
}

.nav-pills > li {
  padding-left: 12px;
}

.btn-lg {
  min-height: 45px !important;
}

.pageTitleWithLink .left {
  padding-right: 0;
}

.pageTitleWithLink .right {
  padding-left: 0;
  text-align: right;
}

.pageTitleWithLink .linkContainer {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 10px;
}

.pageTitleWithLink .linkContainer > a:first-child:hover {
  text-decoration: none;
}

div.container div.pageTitleWithLink legend {
  margin-bottom: 0;
}

legend.subHeader {
  font-size: 19px;
}

table .indexColumn {
  width: 20px;
  text-align: right;
}

a.btn {
  background-position: 0 !important;
}

a {
  color: #475673;

  &:active, &:hover, &:focus {
    color: #475673;
  }
}

.linkedText {
  color: #475673;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  background: #475673 linear-gradient(to bottom, #576A88 0, #475673 100%);
  border-color: #475673;

  &:active, &:hover, &:focus {
    background: #475673;
  }
}

.label-primary {
  background: #475673;
}

.form-horizontal {
  .form-group select {
    margin-top: 10px;
  }
}

.small {
  font-size: 11px;
}

.noItem {
  margin-top: 20px;
}

p.info {
  margin-bottom: 20px;

  .glyphicon-info-sign {
    font-size: 21px;
    top: 5px;
  }
}

pre {
  border-radius: 0;
  background-color: #f7f7f7;
}