.quoteContainer.jumbotron {
  background-color: #ffffff;
  padding-bottom: 10px;
  padding-top: 30px;

  h1 {
    font-size: 29px;
  }

  p {
    font-size: 15px;
  }

  span.quote {
    font-style: oblique;
  }
}