<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">
    <input id="challengeId" type="hidden" th:value="${challenge.id}"/>

    <div class="row">
        <div class="col-xs-6">
            <h4 th:text="#{challenge.challengeHeader}"></h4>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <span th:text="#{challenge.language}">Language</span>:
                <select id="languageSelection" name="languageSelection">
                    <option th:each="each : ${challenge.programmingLanguages}"
                            th:value="${each.getShortName()}"
                            th:text="${each}">
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p th:text="${challenge.getDescriptionFor(#locale)}"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <textarea id="codeEditor" class="code-editor" th:attr="data-solution-template=${challenge.getSolutionFor(selectedProgrammingLanguage).solutionTemplate}"></textarea>
        </div>
        <div class="col-xs-2">
            <a id="runButton" th:text="#{button.run}" class="editor-button btn btn-success btn-lg" role="button">Run</a>
            <a id="resetButton" th:text="#{button.reset}" class="editor-button btn btn-default btn-lg" role="button">Reset</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <span id="fullScreenButton" class="glyphicon glyphicon-fullscreen pull-right"></span>
            <span id="themeButton" class="glyphicon glyphicon-adjust pull-right"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 th:text="#{challenge.resultHeader}">Result</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <textarea id="resultsTextarea" class="console" disabled="disabled" th:placeholder="#{challenge.resultHeader}"></textarea>
        </div>
    </div>
</body>
</html>