<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col-xs-6">
            <h4>Challenge</h4>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                Language:
                <select id="languageSelection" name="languageSelection">
                    <option selected="selected">JavaScript</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>"a" and "b" are integer numbers. Write a function that sums "a" and "b", and returns.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <textarea id="codeEditor" class="code-editor" th:attr="data-solution-template=${solutionTemplate}"></textarea>
        </div>
        <div class="col-xs-2">
            <a id="runButton" class="editor-button btn btn-success btn-lg" role="button">Run</a>
            <a id="resetButton" class="editor-button btn btn-default btn-lg" role="button">Reset</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4>Result</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <textarea id="resultsTextarea" class="console" disabled="disabled" placeholder="Results..."></textarea>
        </div>
    </div>
</body>
</html>