<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">
    <div class="quoteContainer jumbotron">
        <h1 th:text="#{projectName}"></h1>
        <h2 th:text="#{catchLine}"></h2>
        <hr/>

        <p th:if="${quote} != null">
            &quot;
            <span class="quote" th:text="${quote.getQuoteFor(#locale)}"></span>
            &quot;
            <br/>
            <span th:text="${quote.author}"></span>
        </p>
        <hr th:if="${quote} != null"/>

        <p>
            <a class="btn btn-primary btn-lg" role="button" th:href="@{'/challenges/'}" th:text="#{button.start}"></a>
        </p>
    </div>
</body>
</html>