<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">
    <div class="jumbotron">
        <h1>Challenges for champion developers</h1>
        <p>
            <span class="qoute">"Any fool can write code that a computer can understand. Good programmers write code that humans can understand."</span>
            Martin Fowler, 2008
        </p>
        <p><a class="btn btn-primary btn-lg" role="button" href="challenge.html" th:href="@{/challenges/12}" th:text="#{button.start}">Start</a></p>

    </div>
</body>
</html>