<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout">
<head>
    <title th:text="#{title.index}"></title>
</head>
<body layout:fragment="content" th:remove="tag">
    <div class="mainPage jumbotron">
        <!--/* Heading */-->
        <h1 th:text="#{projectName}"></h1>
        <h2 th:text="#{catchLine}"></h2>
        <hr/>

        <!--/* What's Expercise */-->
        <div>
            <h3 th:text="#{whatIsExpercise.header}"></h3>

            <div class="row">
                <div class="col-xs-6">
                    <h4 th:text="#{whatIsExpercise.learn.header}"></h4>
                    <span th:text="#{whatIsExpercise.learn.text}"></span>
                </div>
                <div class="col-xs-6">
                    <h4 th:text="#{whatIsExpercise.code.header}"></h4>
                    <span th:text="#{whatIsExpercise.code.text}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4 th:text="#{whatIsExpercise.social.header}"></h4>
                    <span th:text="#{whatIsExpercise.social.text}"></span>
                </div>
                <div class="col-xs-6">
                    <h4 th:text="#{whatIsExpercise.community.header}"></h4>
                    <span th:text="#{whatIsExpercise.community.text}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4 th:text="#{whatIsExpercise.openSource.header}"></h4>
                    <span th:utext="#{whatIsExpercise.openSource.text}"></span>
                </div>
                <div class="col-xs-6">
                    <h4 th:text="#{whatIsExpercise.free.header}"></h4>
                    <span th:text="#{whatIsExpercise.free.text}"></span>
                </div>
            </div>
        </div>
        <hr/>

        <!--/* Programming Languages */-->
        <h3 th:text="#{mainPage.programmingLanguages}"></h3>
        <br/>
        <div id="supportedLanguages">
            <a class="noTextDecoration" th:href="@{/themes}">
                <img class="logo" th:src="@{/resources/img/javascript-logo.png}" alt="javascript"/>
                <img class="logo" th:src="@{/resources/img/java8-logo.png}" alt="java8"/>
                <img class="logo" th:src="@{/resources/img/python-logo.png}" alt="python"/>
            </a>

            <p class="text-center">
                <br/>
                <span th:text="#{mainPage.programmingLanguages.annotation}"></span>
            </p>
        </div>
        <hr/>

        <!--/* Quote */-->
        <p th:if="${quote} != null">
            <span class="quote" th:text="${quote.getQuoteFor(#locale)}"></span>
            <br/>
            <span th:text="${quote.author}"></span>
        </p>

        <!--/* Start Button */-->
        <br/>
        <p>
            <a class="btn btn-primary btn-lg" role="button" th:href="@{'/themes/'}" th:text="#{button.start}"></a>
        </p>
    </div>

    <input id="javaScriptModules" type="hidden" value="Home"/>
</body>
</html>