<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">

    <legend th:text="#{login.legend}"></legend>

    <div class="row">
        <div class="col-xs-12">
            <p class="alert alert-danger" th:if="${param.error}" th:text="#{login.failedMessage}"></p>
            <p class="alert alert-info" th:if="${param.logout}" th:text="#{login.logoutMessage}"></p>
            <p class="alert alert-success" th:if="${param.newMember}" th:text="#{login.register.welcome}"></p>

            <form th:action="@{/login}" method="POST" class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-xs-2 control-label" th:text="#{label.email}"></label>

                    <div class="col-xs-4">
                        <input type="text" id="email" name="username" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-xs-2 control-label" th:text="#{label.password}"></label>

                    <div class="col-xs-4">
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-4">
                        <button type="submit" class="btn btn-primary" th:text="#{button.login}"></button>
                        <a id="notRegisteredYetLink" th:if="${#strings.isEmpty(param.logout) and #strings.isEmpty(param.newMember)}" th:href="@{/register}" th:text="#{login.notRegisteredYet}"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>