<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout">
<head>
    <title th:text="#{login.legend}"></title>
</head>
<body layout:fragment="content" th:remove="tag">

    <legend th:text="#{login.legend}"></legend>

    <div class="row">
        <div class="col-xs-12">
            <p class="alert alert-danger" th:if="${param.error}" th:text="#{login.failedMessage}"></p>
            <p class="alert alert-info" th:if="${param.logout}" th:text="#{login.logoutMessage}"></p>
            <p class="alert alert-success" th:if="${param.resetPasswordSuccess}" th:text="#{login.passwordResetSuccess}"></p>

            <form th:action="@{/login}" method="POST" class="form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-xs-2 control-label" th:text="#{label.email}"></label>

                    <div class="col-xs-4">
                        <input type="text" id="email" name="username" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-xs-2 control-label" th:text="#{label.password}"></label>

                    <div class="col-xs-4">
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in"></i>
                            <span th:text="#{button.login}"></span>
                        </button>
                    </div>
                    <div class="rememberMeContainer col-xs-2">
                        <div class="checkbox">
                            <div>
                                <input id="rememberMeCheckBox" type="checkbox" name="remember-me" checked="checked"/>
                                <label for="rememberMeCheckBox" th:text="#{login.rememberMe}">Remember me</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" th:if="${#strings.isEmpty(param.logout) and #strings.isEmpty(param.newMember)}">
                    <div class="col-xs-offset-2 col-xs-6">
                        <a id="notRegisteredYetLink" th:href="@{/register}" th:text="#{login.notRegisteredYet}"></a>
                        <span>|</span>
                        <a id="forgotMyPassword" th:href="@{/forgotMyPassword}" th:text="#{login.forgotMyPassword}">Forgot My Password</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>