<!DOCTYPE html>
<html>
<head>
    <title th:text="#{title}"></title>

    <meta name="content-type" content="text/html; charset=utf-8"/>
    <meta name="content-language" content="en, tr"/>
    <meta name="description" content="Expercise.com; programming challenges for champion developers!"/>
    <meta name="author" content="Ufuk Uzun, Batuhan Bayrakçı"/>
    <meta name="keywords" content="expercise, challenge, programming, java, javascript, python, development"/>

    <link rel="shortcut icon" th:href="@{/resources/assets/favicon.ico}"/>

    <!-- If only environment is 'development' -->
    <link th:if="${developmentEnvironment}" th:href="@{/resources/style/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link th:if="${developmentEnvironment}" th:href="@{/resources/style/bootstrap/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link th:if="${developmentEnvironment}" th:href="@{/resources/style/codemirror/codemirror.css}" rel="stylesheet"/>
    <link th:if="${developmentEnvironment}" th:href="@{/resources/style/codemirror/theme/ambiance.css}" rel="stylesheet"/>

    <link th:if="${developmentEnvironment}" th:href="@{/resources/style/expercise.less}" rel="stylesheet/less"/>

    <!-- If only environment is not 'development' -->
    <link th:if="${not developmentEnvironment}" th:href="@{'/resources/style/compressed-' + __${buildId}__ + '.css'}" rel="stylesheet"/>

    <script th:unless="${#strings.isEmpty(googleAnalyticsScript)}" th:utext="${googleAnalyticsScript}"></script>
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>

    <div class="container">
        <div class="subContainer">
            <div layout:fragment="content">
                Page Content
            </div>
        </div>

        <div th:replace="fragments/footer :: footer">Footer</div>
    </div>
</body>
</html>