<!DOCTYPE html>
<html>
<head>
    <title th:text="#{title}"></title>

    <meta name="content-type" content="text/html; charset=utf-8"/>
    <meta name="content-language" content="en, tr"/>
    <meta name="description" content="Kodility.com; programming challenges for champion developers!"/>
    <meta name="author" content="Ufuk Uzun, Batuhan Bayrakçı"/>
    <meta name="keywords" content="codility, kodility, challenge, programming, java, javascript, python, development"/>

    <link rel="shortcut icon" th:href="@{/resources/assets/favicon.ico}" />

    <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/codemirror/codemirror.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/codemirror/theme/ambiance.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/application.css}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header">Header</div>

        <div layout:fragment="content">
            Page Content
        </div>

        <hr/>

        <div th:replace="fragments/footer :: footer">Footer</div>
    </div>
</body>
</html>