<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}" layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE"></title>

    <meta charset="UTF-8"/>
    <meta name="content-type" content="text/html"/>
    <meta name="content-language" th:content="${#locale}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="expercise.com; programming challenges for champion developers!"/>
    <meta name="author" content="Ufuk Uzun, Batuhan Bayrakci"/>
    <meta name="keywords" content="expercise, exercise, challenge, programming, game, java, javascript, python, development"/>

    <link rel="canonical" th:href="${canonical}"/>

    <link rel="shortcut icon" th:href="@{/img/expercise-logo-rounded.png}"/>

    <!--/* If only environment is 'development' */-->
    <link th:if="${developmentEnvironment}" th:href="@{/style/bootstrap.min.css}" rel="stylesheet"/>
    <link th:if="${developmentEnvironment}" th:href="@{/style/bootstrap-virtual-assistant.css}" rel="stylesheet"/>
    <link th:if="${developmentEnvironment}" th:href="@{/style/bootstrap-tagsinput.css}" rel="stylesheet"/>
    <link th:if="${developmentEnvironment}" th:href="@{/style/hopscotch.min.css}" rel="stylesheet"/>

    <link th:if="${developmentEnvironment}" th:href="@{/style/font-awesome.min.css}" rel="stylesheet"/>

    <link th:if="${developmentEnvironment}" th:href="@{/style/codemirror.css}" rel="stylesheet"/>
    <link th:if="${developmentEnvironment}" th:href="@{/style/ambiance.css}" rel="stylesheet"/>
    <link th:if="${developmentEnvironment}" th:href="@{/style/show-hint.css}" rel="stylesheet"/>

    <link th:if="${developmentEnvironment}" th:href="@{/style/expercise.less}" rel="stylesheet/less"/>

    <!--/* If only environment is not 'development' */-->
    <link th:if="${not developmentEnvironment}" th:href="@{'/style/compressed-' + __${buildId}__ + '.css'}" rel="stylesheet"/>

    <!--/* Google Analytics */-->
    <script th:unless="${#strings.isEmpty(googleAnalyticsApplicationKey)}" th:inline="javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', [[${googleAnalyticsApplicationKey}]], 'auto');
        ga('require', 'displayfeatures');
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div th:replace="fragments/header">Header</div>

    <div class="container">
        <div class="row containerRow">
            <div class="subContainer col-xs-12 col-md-offset-1 col-md-10">
                <div layout:fragment="content">
                    Page Content
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer">Footer</div>
    </div>

    <input th:replace="fragments/inputHiddens"/>

    <script th:replace="fragments/scripts"></script>
</body>
</html>