<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">

    <div class="row pageTitleWithLink">
        <div th:class="${param.containsKey('ref') and param.ref[0] eq 'levels'} ? 'col-xs-8 left' : 'col-xs-12'">
            <legend th:text="#{challenge.challengeHeader}"></legend>
        </div>

        <div class="col-xs-4 right" th:if="${param.containsKey('ref') and param.ref[0] eq 'levels'}">
            <div class="linkContainer">
                <a th:href="@{/challenges/}">
                    <span th:text="#{challenge.goToChallenges}"></span>
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p th:text="${challenge.getDescriptionFor(#locale)}"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <textarea id="codeEditor" class="codeEditor"></textarea>
        </div>
        <div id="challengeButtons" class="col-xs-2">
            <a id="runButton" th:text="#{button.run}" class="editorButton btn btn-primary btn-lg" role="button"></a>
            <a id="resetButton" th:text="#{button.reset}" class="editorButton btn btn-default btn-lg" role="button"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 editorOptions">
            <span th:text="#{challenge.language}"></span>:
            <select id="languageSelection" name="languageSelection">
                <!-- TODO ufuk & batu: allow only JavaScript until sandboxing completed for others
                <option th:each="each : ${programmingLanguages}"
                        th:value="${each.getShortName()}"
                        th:text="${each}">
                </option>
                -->
                <option value="js">JavaScript</option>
                <option disabled="disabled">Python</option>
                <option disabled="disabled">Java</option>
            </select>
            <span id="fullScreenButton" class="glyphicon glyphicon-fullscreen pull-right"></span>
            <span id="themeButton" class="glyphicon glyphicon-adjust pull-right"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 th:text="#{challenge.resultHeader}">Result</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <textarea id="resultsTextarea" class="console" disabled="disabled" th:placeholder="#{challenge.resultHeader}"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 th:text="#{challenge.previousSolutions}"></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <table class="table userSolutionsTable">
                <thead>
                    <th th:text="#{challenge.solutions.date}"></th>
                    <th th:text="#{challenge.solutions.languages}"></th>
                </thead>
            </table>
        </div>
    </div>

    <input id="challengeId" type="hidden" th:value="${challenge.id}"/>
    <input id="solutionSignatures" type="hidden" th:value="${solutionSignatures}"/>
    <input id="userSolutions" type="hidden" th:value="${userSolutions}"/>
    <input id="javaScriptModules" type="hidden" value="CodeEditor Challenge"/>
</body>
</html>