<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">
    <legend th:text="#{'challengeList.header.mode.' + ${mode}}"></legend>

    <table class="table table-striped">
        <thead>
            <tr>
                <th th:text="#{challengeList.table.header.challenge}"></th>
                <th th:text="#{challengeList.table.header.solutionCount}"></th>
                <th th:if="${mode != 'NotLeveledChallenges'}" th:text="#{challengeManagement.approved}"></th>
                <th th:if="${mode != 'NotLeveledChallenges'}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="challenge : ${challenges}">
                <td>
                    <a th:href="@{'/challenges/'+ ${challenge.id}}" th:text="${challenge.getTitleFor(#locale)}"></a>
                </td>
                <td th:text="${solutionCountMap.get(challenge)}"></td>
                <td th:if="${mode != 'NotLeveledChallenges'}" th:text="#{${challenge.approved} ? 'label.yes' : 'label.no'}"></td>
                <td th:if="${mode != 'NotLeveledChallenges'}">
                    <a th:href="@{'/challenges/updateChallenge/'+ ${challenge.id}}" th:text="#{button.modify}"></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <a th:href="@{/challenges/addChallenge}">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span th:text="#{challengeManagement.addNewChallenge}"></span>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>