<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout" th:with="title = #{'challengeList.header.mode.' + ${mode}}">
<head>
    <title th:text="${title}"></title>
</head>
<body layout:fragment="content" th:remove="tag">
    <legend th:text="${title}"></legend>

    <table class="table table-striped">
        <thead>
            <tr>
                <th th:text="#{challengeList.table.header.challenge}"></th>
                <th th:text="#{challengeList.table.header.solutionCount}"></th>
                <th th:text="#{challengeManagement.challengeType}"></th>
                <th th:text="#{challengeManagement.approved}"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="challenge : ${challenges}">
                <td>
                    <a th:href="@{'/challenges/' + ${challenge.id}}" th:text="${challenge.getTitle()}"></a>
                    <small>
                        <span class="noTranslationTooltip glyphicon glyphicon-exclamation-sign"
                              th:unless="${challenge.hasTitleForCurrentLocale()}" th:title="#{label.noTranslation}"
                              data-toggle="tooltip" data-placement="bottom">
                        </span>
                    </small>
                </td>
                <td th:text="${solutionCountMap.get(challenge)}"></td>
                <td th:text="#{${challenge.getChallengeType()}}"></td>
                <td th:text="#{${challenge.approved} ? 'label.yes' : 'label.no'}"></td>
                <td class="text-right">
                    <a class="btn btn-sm btn-primary" th:href="@{'/challenges/updateChallenge/'+ ${challenge.id}}">
                        <i class="fa fa-edit"></i>
                        <span th:text="#{button.edit}"></span>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <a th:href="@{/challenges/addChallenge}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span th:text="#{challengeManagement.addNewChallenge}"></span>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>