<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout" th:with="title = ${challenge.getTitle()}">
<head>
    <title th:text="${title}"></title>
</head>
<body layout:fragment="content" th:remove="tag">

    <div class="row pageTitleWithLink">
        <div class="col-xs-8 left">
            <legend th:text="${title}"></legend>
        </div>

        <div class="col-xs-4 right">
            <div class="linkContainer">
                <a th:href="@{${challenge.themeBookmarkableUrl}}">
                    <span th:text="#{button.goBack}"></span>
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row challengeInfo">
        <div class="col-xs-8">
            <span th:if="${challenge.getUser().hasAvatar()}" th:class="${'img-circle avatar small ' + challenge.getUser().getAvatar()}"></span>
            <a th:href="@{${challenge.user.bookmarkableUrl}}" class="small" th:text="${challenge.getUser().getFullName()}">
                Author Full Name
            </a>
            <span class="small" th:text="#{challenge.addedBy}">added.</span>
        </div>
        <div class="col-xs-4 text-right">
            <span class="small" th:text="${#messages.msg('challenge.addedOnDate', #dates.format(challenge.getCreateDate(),'dd MMMM yyyy'))}">Added on 01 Jan 2014.</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <pre th:text="${challenge.getDescription()}"></pre>
        </div>
    </div>

    <div class="row" th:if="${challenge.isCodeKata()}">
        <div class="col-xs-12">
            <h4 th:text="#{challenge.userTestCaseStatus}"></h4>
        </div>
    </div>

    <div class="row" th:if="${challenge.isCodeKata()}">
        <div class="col-xs-12">
            <table class="table userTestCaseStatus">
                <thead>
                <th th:text="#{challenge.testCase.table.header.input}">Input</th>
                <th th:text="#{challenge.testCase.table.header.expectedOutput}">Expected Output</th>
                <th th:text="#{challenge.testCase.table.header.actualOutput}">Actual Output</th>
                <th th:text="#{challenge.testCase.table.header.resultStatus}">Result</th>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <textarea id="codeEditor" class="codeEditor"></textarea>
        </div>
        <div id="challengeButtons" class="col-xs-2">
            <a id="runButton" th:text="#{button.run}" class="editorButton btn btn-primary btn-lg" role="button"></a>
            <a id="resetButton" th:text="#{button.reset}" class="editorButton btn btn-default btn-lg" role="button"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 editorOptions">
            <span th:text="#{challenge.language}"></span>:
            <select id="languageSelection" name="languageSelection">
                <!--*/ TODO ufuk & batu: allow only JavaScript until sandboxing completed for others
                <option th:each="each : ${programmingLanguages}"
                        th:value="${each.getShortName()}"
                        th:text="${each}">
                </option>
                */-->
                <option value="js">JavaScript</option>
                <option disabled="disabled">Python</option>
                <option disabled="disabled">Java</option>
            </select>
            <span id="fullScreenButton" class="glyphicon glyphicon-fullscreen pull-right" th:unless="${mobileClient}"></span>
            <span id="themeButton" class="glyphicon glyphicon-adjust pull-right"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 th:text="#{challenge.resultHeader}">Result</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <textarea id="resultsTextarea" class="console" disabled="disabled" th:placeholder="#{challenge.resultHeader}"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 th:text="#{challenge.previousSolutions}"></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <table class="table userSolutionsTable">
                <thead>
                    <th th:text="#{challenge.solutions.date}"></th>
                    <th th:text="#{challenge.solutions.languages}"></th>
                </thead>
            </table>
        </div>
    </div>

    <input id="challengeId" type="hidden" th:value="${challenge.id}"/>

    <input id="challengeType" type="hidden" th:value="${challenge.getChallengeType().name()}"/>
    <input id="solutionSignatures" type="hidden" th:value="${solutionSignatures}"/>
    <input id="userSolutions" type="hidden" th:value="${userSolutions}"/>
    <input id="testCasesWithSource" type="hidden" th:if="${challenge.isCodeKata()}" th:value="${testCasesWithSource}"/>
    <input id="javaScriptModules" type="hidden" value="CodeEditor Challenge"/>
</body>
</html>