<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout" th:with="title = (${mode.name() == 'Add'} ? #{challengeManagement.addNewChallenge}: #{challengeManagement.updateChallenge})">
<head>
    <title th:text="${title}"></title>
</head>
<body layout:fragment="content" th:remove="tag">

    <legend th:text="${title}"></legend>

    <div id="validationMessages" class="hide row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>Ups!</strong>
                <ul></ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.title}"></h3>

            <div th:each="lingo : ${lingos}" class="descriptionContainer" th:attr="data-lingo=${lingo}">
                <h4>
                    <span th:text="${#messages.msg(lingo.name())}"></span>
                    <small th:unless="${#strings.startsWith(lingo.shortName, #locale)}">
                        (<span th:text="#{label.optional}"></span>)
                    </small>
                </h4>
                <input type="text" class="form-control" name="title"
                       th:maxlength="${T(com.expercise.utils.Constants).MAX_CHALLENGE_TITLE_LENGTH}" />
            </div>
        </div>

        <div id="manageChallengeButtons" class="col-xs-2">
            <a id="saveButton" class="saveButton btn btn-primary btn-lg" role="button">
                <i class="fa fa-save"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.descriptions}"></h3>

            <div th:each="lingo : ${lingos}" class="descriptionContainer" th:attr="data-lingo=${lingo}">
                <h4>
                    <span th:text="${#messages.msg(lingo.name())}"></span>
                    <small th:unless="${#strings.startsWith(lingo.shortName, #locale)}">
                        (<span th:text="#{label.optional}"></span>)
                    </small>
                </h4>
                <textarea class="form-control description" name="description" rows="8"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.signatures}"></h3>

            <div th:each="lingo : ${lingos}" class="signatureContainer" th:attr="data-lingo=${lingo}">
                <h4>
                    <span th:text="${#messages.msg(lingo.name())}"></span>
                    <small>(<span th:text="#{label.optional}"></span>)</small>
                </h4>
                <textarea class="form-control signature" name="signature" rows="8"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.challengeType}"></h3>

            <select name="challengeType" class="form-control">
                <option th:each="cType : ${challengeTypes}" th:text="${#messages.msg(cType.name())}" th:value="${cType.name()}"></option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.inputsAndOutput}"></h3>

            <table id="inputsTable" class="table">
                <thead>
                    <tr>
                        <th th:text="#{challengeManagement.inputType}"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="inputType" class="form-control">
                                <option th:each="type : ${dataTypes}" th:text="${#messages.msg(type.name())}" th:value="${type.name()}"></option>
                            </select>
                        </td>
                        <td>
                            <a class="removeInput btn btn-danger"><span class="glyphicon glyphicon-minus"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="inputType" class="form-control">
                                <option th:each="type : ${dataTypes}" th:text="${#messages.msg(type.name())}" th:value="${type.name()}"></option>
                            </select>
                        </td>
                        <td>
                            <a class="removeInput btn btn-danger"><span class="glyphicon glyphicon-minus"></span></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <a id="addNewInput" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span th:text="#{challengeManagement.addNewInput}"></span>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <table id="outputTable" class="table">
                <thead>
                    <tr>
                        <th th:text="#{challengeManagement.outputType}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="outputType" class="form-control">
                                <option th:each="type : ${dataTypes}" th:text="${#messages.msg(type.name())}" th:value="${type.name()}"></option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.testCases}"></h3>

            <table id="testCasesTable" class="table">
                <thead>
                    <tr>
                        <th th:text="#{challengeManagement.inputValues}"></th>
                        <th th:text="#{challengeManagement.outputValue}"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="inputValue"/>
                            <input class="form-control" type="text" name="inputValue"/>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="outputValue"/>
                        </td>
                        <td>
                            <a class="removeTestCase btn btn-danger"><span class="glyphicon glyphicon-minus"></span></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <a id="addNewTestCase" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span th:text="#{challengeManagement.addNewTestCase}"></span>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.level}"></h3>

            <select name="level" class="form-control">
                <option value="" th:text="#{label.select}"></option>
                <option th:each="level : ${levels}" th:value="${level.id}" th:text="${level.getNameForChallengeManagement(#locale)}"></option>
            </select>
        </div>
    </div>

    <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.approvingTitle}"></h3>

            <div class="checkbox">
                <div>
                    <input id="approved" name="approved" type="checkbox"/><label th:text="#{challengeManagement.approved}" for="approved"/>
                </div>
            </div>
        </div>
    </div>

    <input id="challengeModel" type="hidden" th:value="${challengeModel == null ? '{}' : challengeModel}"/>
    <input id="javaScriptModules" type="hidden" value="ChallengeManagement"/>
</body>
</html>