<!DOCTYPE html>
<html layout:decorator="mainLayout">
<body layout:fragment="content" th:remove="tag">

    <legend th:text="${mode.name() == 'Add'} ? #{challengeManagement.addNewChallenge}: #{challengeManagement.updateChallenge}"></legend>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.title}"></h3>

            <div th:each="lingo : ${lingos}" class="descriptionContainer" th:attr="data-lingo=${lingo}">
                <h4 th:text="${#messages.msg(lingo.name())}"></h4>
                <input type="text" class="form-control" name="title"/>
            </div>
        </div>

        <div class="col-xs-2">
            <a href="#" id="saveButton" th:text="#{button.save}" class="saveButton btn btn-success btn-lg" role="button"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.descriptions}"></h3>

            <div th:each="lingo : ${lingos}" class="descriptionContainer" th:attr="data-lingo=${lingo}">
                <h4 th:text="${#messages.msg(lingo.name())}"></h4>
                <textarea class="form-control description" name="description" rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.inputsAndOutput}"></h3>

            <table id="inputsTable" class="table">
                <thead>
                    <tr>
                        <th th:text="#{challengeManagement.inputType}"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="inputType">
                                <option th:each="type : ${dataTypes}" th:text="${#messages.msg(type.name())}" th:value="${type.className}"></option>
                            </select>
                        </td>
                        <td>
                            <a class="removeInput" th:text="#{button.remove}"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="inputType">
                                <option th:each="type : ${dataTypes}" th:text="${#messages.msg(type.name())}" th:value="${type.className}"></option>
                            </select>
                        </td>
                        <td>
                            <a class="removeInput" th:text="#{button.remove}"></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <a id="addNewInput" th:text="#{challengeManagement.addNewInput}"></a>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

            <table id="outputTable" class="table">
                <thead>
                    <tr>
                        <th th:text="#{challengeManagement.outputType}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="outputType">
                                <option th:each="type : ${dataTypes}" th:text="${#messages.msg(type.name())}" th:value="${type.className}"></option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">
            <h3 th:text="#{challengeManagement.testCases}"></h3>

            <table id="testCasesTable" class="table">
                <thead>
                    <tr>
                        <th th:text="#{challengeManagement.inputValues}"></th>
                        <th th:text="#{challengeManagement.outputValue}"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="inputValue"/>
                            <input class="form-control" type="text" name="inputValue"/>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="outputValue"/>
                        </td>
                        <td>
                            <a class="removeTestCase" th:text="#{button.remove}"></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <a id="addNewTestCase" th:text="#{challengeManagement.addNewTestCase}"></a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <input id="javaScriptModules" type="hidden" value="ChallengeManagement"/>
</body>
</html>