<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout" th:with="title = ${theme.getNameFor(#locale)}">
<head>
    <title th:text="${title}"></title>
</head>
<body layout:fragment="content" th:remove="tag">

    <div class="row pageTitleWithLink">
        <div class="col-xs-8 left">
            <legend th:text="${title}"></legend>
        </div>

        <div class="col-xs-4 right">
            <div class="linkContainer">
                <a th:href="@{/themes/}">
                    <span th:text="#{button.goBack}"></span>
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 themeDescriptionContainer">
            <h4 th:text="${theme.getDescription()}"></h4>
        </div>
    </div>

    <div class="row" th:if="${#lists.isEmpty(levelList)}">
        <div class="col-xs-12 noItem">
            <p th:text="#{label.nope}"></p>
        </div>
    </div>

    <div class="row levelContainer" th:each="level, levelIteration : ${levelList}" th:if="${not #lists.isEmpty(level.approvedChallenges)}">
        <div class="col-xs-12">
            <h3 th:if="${levelList.size() > 1}">
                <span th:text="${level.getNameFor(#locale)}"></span>
                <i th:if="${currentLevelModel.isCurrentLevel(level)}" class="fa fa-flag-checkered text-success" aria-hidden="true"></i>
            </h3>

            <table class="table">
                <thead>
                    <tr>
                        <th class="indexColumn"></th>
                        <th class="fixedWidthColumn" th:text="#{challengeList.table.header.challenge}"></th>
                        <th th:text="#{challengeList.table.header.user}"></th>
                        <th th:text="#{challengeList.table.header.createDate}"></th>
                        <th th:text="#{challengeList.table.header.solutionCount}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="challenge, challengeIteration : ${level.approvedChallenges}">
                        <td class="indexColumn" th:text="${levelIteration.count} + '.' + ${challengeIteration.count}"></td>
                        <td class="fixedWidthColumn">
                            <i th:if="${currentLevelModel.isSolved(challenge)}" class="fa fa-check-circle text-success"></i>
                            <a th:href="@{'/challenges/' + ${challenge.id}}" th:text="${challenge.getTitle()}"></a>
                        </td>
                        <td>
                            <a th:href="@{${challenge.user.bookmarkableUrl}}" target="_blank" th:text="${challenge.user.getFullName()}"></a>
                        </td>
                        <td th:text="${#dates.format(challenge.getCreateDate(),'dd MMM yyyy')}"></td>
                        <td th:text="${solutionCountMap.get(challenge)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>