<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout" th:with="title = ${theme.getNameFor(#locale)}">
<head>
    <title th:text="${title}"></title>
</head>
<body layout:fragment="content" th:remove="tag">

    <div class="row pageTitleWithLink">
        <div class="col-xs-8 left">
            <legend th:text="${title}"></legend>
        </div>

        <div class="col-xs-4 right">
            <div class="linkContainer">
                <a th:href="@{/themes/}">
                    <span th:text="#{button.goBack}"></span>
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 themeDescriptionContainer">
            <h4 th:text="${theme.getDescription()}"></h4>
        </div>
    </div>

    <div class="row" th:if="${#lists.isEmpty(levelList)}">
        <div class="col-xs-12 noItem">
            <p th:text="#{label.nope}"></p>
        </div>
    </div>

    <div class="row levelContainer" th:each="level : ${levelList}" th:if="${not #lists.isEmpty(level.approvedChallenges)}">
        <div th:with="levelActive=${currentLevelModel.isLevelActive(level)}" th:class="${levelActive} ? 'col-xs-12' : 'col-xs-12 notActiveLevel'">
            <h3>
                <span th:text="${level.getNameFor(#locale)}"></span>
                <span th:if="${currentLevelModel.isCurrentLevel(level)}" class="glyphicon glyphicon-flag"></span>
            </h3>

            <table class="table">
                <thead>
                    <tr>
                        <th class="indexColumn"></th>
                        <th class="fixedWidthColumn" th:text="#{challengeList.table.header.challenge}"></th>
                        <th th:text="#{challengeList.table.header.solutionCount}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="challenge, iteration : ${level.approvedChallenges}">
                        <td class="indexColumn" th:text="${level.priority} + '.' + ${iteration.count}"></td>
                        <td class="fixedWidthColumn">
                            <a th:if="${levelActive}" th:href="@{'/challenges/' + ${challenge.id}}" th:text="${challenge.getTitle()}"></a>
                            <span th:unless="${levelActive}" th:text="${challenge.getTitle()}"></span>
                            <span th:if="${currentLevelModel.isSolved(challenge)}" class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td th:text="${solutionCountMap.get(challenge)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>