<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout">
<head>
    <title th:text="#{header.notThemedChallenges}"></title>
</head>
<body layout:fragment="content" th:remove="tag">

    <div class="row pageTitleWithLink">
        <div class="col-xs-8 left">
            <legend th:text="#{header.notThemedChallenges}"></legend>
        </div>

        <div class="col-xs-4 right">
            <div class="linkContainer">
                <a th:href="@{/themes/}">
                    <span th:text="#{button.goBack}"></span>
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row" th:if="${#lists.isEmpty(challengeList)}">
        <div class="col-xs-12 noItem">
            <p th:text="#{label.nope}"></p>
        </div>
    </div>

    <div class="row levelContainer" th:unless="${#lists.isEmpty(challengeList)}">
        <div th:class="col-xs-12">
            <h4 th:text="#{theme.listing.header.notThemedChallenges}"></h4>

            <table class="table">
                <thead>
                    <tr>
                        <th class="indexColumn"></th>
                        <th class="fixedWidthColumn" th:text="#{challengeList.table.header.challenge}"></th>
                        <th th:text="#{challengeList.table.header.user}"></th>
                        <th th:text="#{challengeList.table.header.createDate}"></th>
                        <th th:text="#{challengeList.table.header.solutionCount}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="challenge, iteration : ${challengeList}">
                        <td class="indexColumn" th:text="${iteration.count}"></td>
                        <td class="fixedWidthColumn">
                            <a th:href="@{'/challenges/' + ${challenge.id}}" th:text="${challenge.getTitle()}"></a>
                            <span th:if="${solvedChallengesByCurrentUser.contains(challenge)}" class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td th:text="${challenge.user.getFullName()}"></td>
                        <td th:text="${#dates.format(challenge.getCreateDate(),'dd MMM yyyy')}"></td>
                        <td th:text="${solutionCountMap.get(challenge)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>