<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="mainLayout">
<head>
    <title th:text="#{theme.listing.header}"></title>
</head>
<body layout:fragment="content" th:remove="tag">
    <legend th:text="#{theme.listing.header}"></legend>

    <div class="row" th:if="${#lists.isEmpty(themeList)}">
        <div class="col-xs-12">
            <p th:text="#{label.nope}"></p>
        </div>
    </div>

    <div class="row" th:unless="${#lists.isEmpty(themeList)}">
        <div class="themeContainer" th:each="theme : ${themeList}">
            <a th:href="@{${theme.bookmarkableUrl}}">
                <div class="theme" th:text="${theme.getNameFor(#locale)}"></div>
            </a>
        </div>
    </div>

    <input id="newMember" type="hidden" th:value="${param.newMember != null}"/>
    <input id="javaScriptModules" type="hidden" value="ThemeListing"/>
</body>
</html>