<!DOCTYPE html>
<html>
<body>
    <div id="footer" th:fragment="footer">
        <p class="text-muted"><a href="https://github.com/ufukuzun/kodility/graphs/contributors" target="_blank" th:text="#{footer.credit}">Kodility Team</a></p>

        <input id="contextPath" type="hidden" th:value="@{/}"/>

        <script type="text/javascript" th:src="@{/resources/js/lib/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/lib/bootstrap.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/application.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/utils.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/challenge.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/bootstrapper.js}"></script>
    </div>
</body>
</html>