<!DOCTYPE html>
<html>
<body>
    <div id="footer" th:fragment="footer">
        <p class="text-muted"><a href="https://github.com/ufukuzun/kodility/graphs/contributors" target="_blank" th:text="#{footer.credit}">Kodility Team</a></p>

        <input id="contextPath" type="hidden" th:value="@{/}"/>

        <script type="text/javascript" th:src="@{/resources/js/lib/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/lib/jquery-scrolltofixed.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/lib/jquery.cookie.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/lib/jquery.fullscreen.js}"></script>

        <script type="text/javascript" th:src="@{/resources/js/lib/bootstrap.min.js}"></script>

        <script type="text/javascript" th:src="@{/resources/js/codemirror/codemirror.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/codemirror/mode/javascript.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/codemirror/mode/python.js}"></script>

        <script type="text/javascript" th:src="@{/js/messages.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/kodility.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/utils.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/challenge.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/locale.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/codeEditor.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/challengeManagement.js}"></script>

        <script type="text/javascript" th:src="@{/resources/js/bootstrapper.js}"></script>

        <script th:if="${@configurationService.isProduction()}" th:utext="${@configurationService.googleAnalyticsScript}"></script>
    </div>
</body>
</html>