<!DOCTYPE html>
<html>
<body>
    <div id="header" th:fragment="header">
        <div class="row">
            <div class="col-xs-6">
                <h2 id="projectName" class="text-muted">
                    <a th:href="@{/}">Kodility <small>beta</small></a>
                </h2>
            </div>

            <div id="langSelectContainer" class="col-xs-6">
                <span> ‹ </span>
                <a class="lingo" th:href="@{?lingo=tr}">Tr</a>
                <span> · </span>
                <a class="lingo" th:href="@{?lingo=en}">En</a>
                <span> › </span>

                <br />

                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/challenges}" th:text="#{button.start}"></a>
                    <span> · </span>
                    <a th:href="@{/logout}" th:text="#{button.logout}"></a>
                </div>

                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/login}" th:text="#{button.login}"></a>
                    <span> · </span>
                    <a th:href="@{/register}" th:text="#{button.register}"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>