<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h2 id="projectName" class="text-muted">
                        <a th:href="@{/}" th:text="#{projectName}"></a>
                        <span class="badge beta">Beta</span>
                    </h2>
                </div>

                <div id="userMenu" class="col-xs-6">
                    <span id="userMenuDropdownContainer">
                        <a id="userMenuDropdown" data-toggle="dropdown" th:with="userAuthenticated = ${#authorization.expression('isAuthenticated()')}">
                            <span th:text="${userAuthenticated} ? ${currentUser.fullName} : #{label.menu}"></span><span class="caret"></span>
                            <span th:if="${userAuthenticated and currentUser.hasAvatar()}" th:class="${'userMenuImage img-circle avatar ' + currentUser.avatar}"></span>
                            <span th:unless="${userAuthenticated and (currentUser.hasAvatar() or currentUser.hasSocialImageUrl())}" class="userMenuImage glyphicon glyphicon-user"></span>
                            <span th:if="${userAuthenticated and !currentUser.hasAvatar() and currentUser.hasSocialImageUrl()}" class="userMenuImage">
                                <img class="img-circle socialImage" th:src="${currentUser.socialImageUrl}"/>
                            </span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="startCodingItem">
                                <a th:href="@{/themes}" th:text="#{button.startCoding}"></a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a th:href="@{/user}">
                                    <i class="fa fa-user"></i>
                                    <span th:text="#{label.menu.profile}"></span>
                                </a>
                            </li>

                            <li>
                                <a th:href="@{/leaderBoard}">
                                    <i class="fa fa-users"></i>
                                    <span th:text="#{leaderBoard.title}"></span>
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a th:href="@{/challenges/myChallenges}">
                                    <span th:text="#{label.menu.myChallenges}"></span>
                                </a>
                            </li>

                            <li>
                                <a th:href="@{/challenges/addChallenge}">
                                    <span th:text="#{label.menu.addNewChallenge}"></span>
                                </a>
                            </li>

                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="divider"></li>

                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/manage/challenges}">
                                    <span th:text="#{label.menu.manageChallenges}"></span>
                                </a>
                            </li>

                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/manage/users}">
                                    <span th:text="#{label.menu.manageUsers}"></span>
                                </a>
                            </li>

                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/manage/levels}">
                                    <span th:text="#{levelManagement.header}"></span>
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li th:if="${#authorization.expression('isAuthenticated()')}">
                                <a th:href="@{/signout}" th:text="#{button.logout}"></a>
                            </li>

                            <li th:unless="${#authorization.expression('isAuthenticated()')}">
                                <a th:href="@{/signin}" th:text="#{button.login}"></a>
                            </li>

                            <li th:unless="${#authorization.expression('isAuthenticated()')}">
                                <a th:href="@{/signup}" th:text="#{button.register}"></a>
                            </li>
                        </ul>
                    </span>

                    <span id="lingoMenuDropdownContainer">
                        <a id="lingoMenuDropdown" data-toggle="dropdown">
                            <span th:class="'img-circle lingoImage ' + ${#locale}"></span>
                        </a>

                        <ul id="lingoSelection" class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a th:href="@{?lingopref=tr}">
                                    <span class="img-circle lingoImage tr"></span>
                                    Türkçe
                                </a>
                            </li>

                            <li>
                                <a th:href="@{?lingopref=en}">
                                    <span class="img-circle lingoImage en"></span>
                                    English
                                </a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</html>